.spline-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
  border-radius: 0;
}

.spline-container spline-viewer {
  width: 100%;
  height: 100%;
  display: block;
}

@media (max-width: 768px) {
  .spline-container {
    min-height: 300px;
  }
}

@media (max-width: 480px) {
  .spline-container {
    min-height: 250px;
  }
}
